header {
  display: flex;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  height: 80px;
}

header nav {
  padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 12px;
}

a {
  color: black;
}
